.card-body {
    padding: 40px !important;
    border-radius: 5px;
}

.card-thin{
    width: 350px !important;
    margin: 0 auto;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: white;
  
}

.nav-background{
    background-color: #0c472d;
}

.site-body {
    /* background-color: #181a1b; */
    background-color: rgb(34, 34, 34);
}

.fatter-text {
    font-weight: 500;
}

.centered-label {
    width: 250px !important;
    margin: 0 auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-control{
    width: 250px !important;
    margin: 0 auto;
}

.button-large {
    width: 250px !important;
}

.text-small {
    font-size: 16px;
}

.big-height {
    height: 50px;
    border-radius: 0;
}

.link-button {
    background-color: transparent;
    border: none;
    color: #10a481;
    text-decoration: underline;
    cursor: pointer;
}

.ms-auto {
    padding-right: 30px;
}

.green-header {
    background-color: rgb(7, 114, 7) !important;
}

.rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-card {
    max-width: 500px;
    max-height: 750px;
    margin: 0 auto;
}

.icon-image {
    width: 300px;
    height: 325px;
}

.form-control.textarea {
    height: auto !important;
}

.margin-auto{
    margin: 0 auto;
}

.minimum-height{
    min-height: 200px;
    min-width: 200px;
}

.brand{
    padding-left: 10px;
    padding-right: 20px;
}

.max-height{
    max-height: 300px;
    max-width: 300px;
}

.border-1 {
    border: 1px solid black;
}

.small-button {
    height: 50px;
    width: 50px;
}